html, body {
    margin: 20px 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;    
    background-color: #f8f9fb;
    font-size: 18px;
    user-select: none;
}

ul {
    padding: 0px;
    flex-wrap: wrap;
    display:flex;
    gap: 10px;
}

ul li {
    box-shadow: 0px 1px  4px rgba(0, 0, 0, 0, 0.2);
    background-color: #FFFFFF;
    list-style-type: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align:center;
}

ul li:hover { 
    background-color: #e84a41;
    color: #FFFFFF;
}

input {
    font-size: inherit;
    padding: 10px;
    border: 0px solid;
    border-radius: 8px;
    background-color: #dddddd;
    font-family: inherit;
    text-align: center;
    margin: 10px 0;
}

button {
    padding: 15px;
    border-radius: 8px;
    border: 0px;    
    font-family: inherit;
    font-size: 18px;
}



.container {
    display:flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

#add-button {
    background-color: #587058;
    color: #FFFFFF;
}

#add-button:hover {
    background-color: #3c4d3c;
}

.item {
    background-color: #f2f2f2;
    color: #404040;
}